@using BugTracker.Helpers
@model BugTracker.Models.Ticket

<style>
    .btnPad {
        margin-bottom: 20px
    }
</style>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="col-md-6">
    <section class="panel panel-warning">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Attachment(s)</h2>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <!--<h3>Title</h3>-->
                        <!--<input type="text" name="Title" />-->
                        @Html.TextBox("AttachmentTitle", null, new { @class = "form-control cell-fill-input", placeholder = "Title" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!--<h3>Description</h3>-->
                        <!--<textarea rows="5" cols="100" type="text" name="Description" />-->
                        @Html.TextArea("AttachmentDescription", new { @class = "form-control cell-fill-textarea", rows = 5, cols = 150, placeholder = "Description" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="file" name="attachment" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-sm">Add Attachment</button>
                    </div>
                </div>
            }

            @foreach (var attachment in Model.TicketAttachments)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<img src="ImageHelpers.GetIconPath(attachment.AttachmentUrl)" />-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a target="_blank" href="@attachment.AttachmentUrl">@Path.GetFileNameWithoutExtension(attachment.AttachmentUrl)</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">@attachment.Created.ToString("MMM, d, yyyy")</div>
                            <div class="col-md-6">@attachment.User.FullNameWithEmail</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @attachment.Title
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @attachment.Description
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

        </header>
    </section>
</div>

<div class="content">
    <ul>
        @foreach (var notification in @NotificationHelper.GetUnreadUserNotifications())
        {
            <li>
                <hr size="3" />
                @using (Html.BeginForm("MarkAsRead", "TicketNotifications"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", notification.Id)

                    <div class="row">
                        <div class="col-md-2">
                            <figure class="image">
                                <img src="@notification.Sender.AvatarUrl" alt="@notification.Sender.Email" class="img-circle" width="25" />
                            </figure>
                        </div>
                        <div class="col-md-10">
                            <span class="title">@notification.Subject</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <span class="message text-justify"><b>@notification.NotificationBody</b></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-sm btn-primary">Mark as Read</button>
                        </div>
                    </div>
                }
            </li>
        }
    </ul>

    <hr />

    <div class="text-right">
        <a href="@Url.Action("MyNotifications","TicketNotifications")" class="view-more">View All</a>
    </div>

</div>

<div class="col-md-6">
    <section class="panel panel-warning">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Histories</h2>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var history in Model.TicketHistories)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @history.TicketId
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @history.PropertyName
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @history.OldValue
                                        </div>
                                    </div>
                                    @if (history.NewValue != null)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                @history.NewValue
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </header>
    </section>
</div>
