@using BugTracker.Helpers
@using BugTracker.Models
@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

@{
    var ticketHelper = new TicketHelper();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Assigned To <!--Html.DisplayNameFor(model => model.AssignedToUser.LastName)-->
        </th>
        <th>
            Submitted By <!--Html.DisplayNameFor(model => model.OwnerUser.LastName)-->
        </th>
        <th>
            Project <!--Html.DisplayNameFor(model => model.Project.Name)-->
        </th>
        <th>
            Type <!--Html.DisplayNameFor(model => model.TicketType.Name)-->
        </th>
        <th>
            Priortiy <!--Html.DisplayNameFor(model => model.TicketPriorityId)-->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AssignedToUser.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OwnerUser.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketPriorityId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Updated)
    </td>

    @if (User.IsInRole("Administrator"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Dashboard", "Dashboard", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
        </td>
    }

    @if (User.IsInRole("Project Manager") && ticketHelper.IsTicketForProject(item.Id, item.ProjectId))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Dashboard", "Dashboard", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
        </td>
    }

    @if (User.IsInRole("Developer") && ticketHelper.IsTicketAssigned(item.AssignedToUserId))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Dashboard", "Dashboard", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
        </td>
    }


</tr>
    }

</table>
