@using Microsoft.AspNet.Identity;
@using BugTracker.Models
@using BugTracker.Helpers
@model IEnumerable<BugTracker.Models.Project>

@{
    //This instance of the db is needed to get the current user's information. So is the using Identity statement to get the user's current Id.

    ApplicationDbContext db = new ApplicationDbContext();
    var id = User.Identity.GetUserId();
    var user = db.Users.Find(id);
    //var userProjects = db.Projects.Find(id);
    var projHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
    var userProjects = projHelper.ListUserProjects(user.Id);
    var allProjects = db.Projects.ToList(); //A list of every project that has been created
    var allTickets = db.Tickets.ToList(); //A list of every ticket that has been submitted
    var devTickets = db.Users.Find(id).Projects.SelectMany(t => t.Tickets).ToList(); //Tickets for projects that the Developer is on
    var subTickets = db.Tickets.Where(t => t.OwnerUserId == id).ToList(); //Tickets that the submitter owns
    var pmTickets = db.Users.Find(id).Projects.SelectMany(t => t.Tickets).ToList(); //Tickets for the project managed by the PM
    var assignments = db.Tickets.Where(t => t.AssignedToUserId == id).ToList(); //Tickets that the Developer is assigned to
    var unassignedTickets = db.TicketStatuses.FirstOrDefault(t => t.Name == "New / UnAssigned").Id;
    var assignedTickets = db.TicketStatuses.FirstOrDefault(t => t.Name == "New / Assigned").Id;
    var currentTickets = db.TicketStatuses.FirstOrDefault(t => t.Name == "In Progress").Id;
    var closedTickets = db.TicketStatuses.FirstOrDefault(t => t.Name == "Closed").Id;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kerry Peay's Bug Tracker</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/datatables.min.css" rel="stylesheet" />

    <style>
        div.a {
            font-size: 120%;
        }

        div.b {
            font-size: 200%;
        }

        div.c {
            font-size: 90%;
        }

        .actionText {
            color: white;
        }

        .chartHeight {
            height: 550px;
        }

        .chartHR {
            border: 5px solid;
            border-radius: 5px;
            background: linear-gradient(black, red);
        }

        .chart250 {
            height: 275px;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                @if (User.IsInRole("Administrator"))
                {
                    <div class="sidebar-brand-text mx-3"> Kerry Peay's Bug Tracker - Admin </div>
                }
                else
                {
                    <div class="sidebar-brand-text mx-3"> Kerry Peay's Bug Tracker </div>
                }
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages2">
                    <i class="fas fa-fw fa-folder"></i>
                    @if ((User.IsInRole("Administrator")) || (User.IsInRole("Project Manager")))
                    {
                        <span>Current Tasks</span>
                    }
                    else
                    {
                        <span>Current Tickets</span>
                    }
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Login Screens:</h6>-->

                        @if (User.IsInRole("Administrator") || (User.IsInRole("Project Manager")))
                        {
                            <a class="collapse-item" href="@Url.Action("Index", "Projects")">View All Projects</a>
                        }
                        <a class="collapse-item" href="@Url.Action("Index", "Tickets")">View All Tickets</a>
                        <!--<a class="collapse-item" href="Url.Action("ChangePassword", "Manage")">Change Password</a>-->
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="collapse-item" href="@Url.Action("UserIndex", "Admin")">Manage Users</a>
                        }
                        <div class="collapse-divider"></div>
                        <!--<a class="collapse-item" href="404.html">404 Page</a>-->
                        <!--<a class="collapse-item" href="blank.html">Blank Page</a>-->
                    </div>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>My Stuff</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Login Screens:</h6>-->
                        @if ((User.IsInRole("Administrator")) || (User.IsInRole("Project Manager")) || (User.IsInRole("Submitter")) || (User.IsInRole("Developer")))
                        {<a class="collapse-item" href="@Url.Action("MyProjects", "Projects")">My Projects</a>}
                        @if (User.IsInRole("Project Manager") || (User.IsInRole("Submitter")))
                        {<a class="collapse-item" href="@Url.Action("MyTickets", "Tickets")">My Tickets</a>}
                        @if (User.IsInRole("Developer"))
                        {<a class="collapse-item" href="@Url.Action("MyTickets", "Tickets")">Tickets for My Projects</a>}
                        <a class="collapse-item" href="@Url.Action("MyNotifications", "TicketNotifications")">My Notifications</a>
                        @if (User.IsInRole("Developer"))
                        {
                            <a class="collapse-item" href="@Url.Action("MyAssignments", "Tickets")">My Assignments</a>
                        }
                        <!--<a class="collapse-item" href="Url.Action("ChangePassword", "Manage")">Change Password</a>-->
                        <div class="collapse-divider"></div>
                        <!--<a class="collapse-item" href="404.html">404 Page</a>-->
                        <!--<a class="collapse-item" href="blank.html">Blank Page</a>-->
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="a"><font color="black">@user.DisplayName</font></div>
                                <img class="img-profile rounded-circle" src="@user.AvatarUrl" />
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("LogOff", "Account")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->

                <h1 class="b text-center"><font color="black">@user.FirstName @user.LastName's Dashboard</font></h1>

                <br />
                <hr />
                <br />
                <br />

                <div class="container-fluid">

                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Projects</h6>
                                    </div>
                                    <div class="card-body">
                                        <!--foreach (var projectName in projHelper.ListUserProjects(user.Id).Select(p => p.Name).ToList())
                                        {
                                            <div class="a">projectName</div>
                                            <br />
                                        }-->
                                        <!--This for-loop must be here to display all the projects in the array. If you just put
                                        db.Projects.ToList() instead of doing this, it would only display the name of the
                                        List itself. Ditto for tickets.-->
                                        @if (allProjects.Count() == 0)
                                        {
                                            <div class="b">There are currently no projects.</div>
                                        }

                                        else
                                        {
                                            foreach (var project in allProjects)
                                            {
                                                <div class="b">@project.Name</div>
                                                <div class="c">Added on @project.Created</div>
                                                <br />
                                                <!--Below is how to access the id of a Model and get its Detail view. The Ticket Dashboard should be the same.-->
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Project", "Details", "Projects", routeValues: new { @id = project.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Tickets</h6>
                                    </div>

                                    <div class="card-body">

                                        @if (allTickets.Count() == 0)
                                        {
                                            <div class="b">There are currently no open tickets.</div>
                                        }

                                        else
                                        {
                                            foreach (var ticket in allTickets) //Pulling all the tickets to be categorized by the conditional statement below
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }



                                                <br />
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Project Manager"))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Projects</h6>
                                    </div>
                                    <div class="card-body">
                                        <!--foreach (var projectName in projHelper.ListUserProjects(user.Id).Select(p => p.Name).ToList())
                                        {
                                            <div class="a">projectName</div>
                                            <br />
                                        }-->
                                        <!--This for-loop must be here to display all the projects in the array. If you just put
                                        db.Projects.ToList() instead of doing this, it would only display the name of the
                                        List itself. Ditto for tickets.-->
                                        @if (allProjects.Count() == 0)
                                        {
                                            <div class="b">There are currently no projects.</div>
                                        }

                                        else
                                        {
                                            foreach (var project in allProjects)
                                            {
                                                <div class="b">@project.Name</div>
                                                <div class="c">Added on @project.Created</div>

                                                <br />
                                                <!--Below is how to access the id of a Model and get its Detail view. The Ticket Dashboard should be the same.-->
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Project", "Details", "Projects", routeValues: new { @id = project.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <!--
                                           <div class="col-md-6">
                            <!-- Project Card Example
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary text-center">My Projects</h6>
                                            </div>
                                            <div class="card-body">
                                                foreach (var project in projHelper.ListUserProjects(user.Id).ToList())
                                                {
                                                    <div class="b">project.Name</div>
                                                    <div class="c">Added on project.Created</div>
                                                    <br />
                                                    <!--Below is how to access the id of a Model and get its Detail view. The Ticket Dashboard should be the same.
                                                    <button class="btn btn-default">Html.ActionLink("Go to This Project", "Details", "Projects", routeValues: new { id = project.Id }, htmlAttributes: new { })</button>
                                                    <br />
                                                    <br />
                                                    <hr />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                        -->

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Tickets</h6>
                                    </div>

                                    <div class="card-body">

                                        @if (allTickets.Count() == 0)
                                        {
                                            <div class="b">There are currently no open tickets.</div>
                                        }
                                        else
                                        {
                                            foreach (var ticket in allTickets)
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">My Tickets</h6>
                                    </div>
                                    <div class="card-body">
                                        @if (pmTickets.Count() == 0)
                                        {
                                            <div class="b">You currently have no tickets.</div>
                                        }
                                        else
                                        {
                                            foreach (var ticket in pmTickets)
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Developer"))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">My Projects</h6>
                                    </div>
                                    <div class="card-body">

                                        @if (projHelper.ListUserProjects(user.Id).ToList().Count() == 0)
                                        {
                                            <div class="b">You are not currently assigned to any projects.</div>
                                        }

                                        else
                                        {
                                            foreach (var project in projHelper.ListUserProjects(user.Id).ToList())
                                            {
                                                <div class="b">@project.Name</div>
                                                <div class="c">Added on @project.Created</div>
                                                <br />
                                                <!--Below is how to access the id of a Model and get its Detail view. The Ticket Dashboard should be the same.-->
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Project", "Details", "Projects", routeValues: new { @id = project.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Tickets</h6>
                                    </div>

                                    <div class="card-body">

                                        @if (allTickets.Count() == 0)
                                        {
                                            <div class="b">There are currently no open tickets.</div>
                                        }

                                        else
                                        {
                                            foreach (var ticket in allTickets)
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Tickets for My Projects</h6>
                                    </div>

                                    <div class="card-body">
                                        @if (devTickets.Count() == 0)
                                        {
                                            <div class="b">There are currently no tickets for any of your projects.</div>
                                        }

                                        else
                                        {
                                            foreach (var ticket in devTickets)
                                            {

                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">My Assignments</h6>
                                    </div>

                                    <div class="card-body">
                                        @if (assignments.Count() == 0)
                                        {
                                            <div class="b">You are currently not assigned to any tickets.</div>
                                        }
                                        else
                                        {
                                            foreach (var ticket in assignments)
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Submitter"))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">My Projects</h6>
                                    </div>
                                    <div class="card-body">

                                        @if (projHelper.ListUserProjects(user.Id).ToList().Count() == 0)
                                        {
                                            <div class="b">You are currently not assigned to any projects.</div>
                                        }

                                        else
                                        {
                                            foreach (var project in projHelper.ListUserProjects(user.Id).ToList())
                                            {
                                                <div class="b">@project.Name</div>
                                                <div class="c">Added on @project.Created</div>
                                                <br />
                                                <!--Below is how to access the id of a Model and get its Detail view. The Ticket Dashboard should be the same.-->
                                                <button class="btn btn-default">@Html.ActionLink("Go to This Project", "Details", "Projects", routeValues: new { @id = project.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">Current Tickets</h6>
                                    </div>

                                    <div class="card-body">

                                        @if (allTickets.Count() == 0)
                                        {
                                            <div class="b">There are currently no open tickets.</div>
                                        }
                                        else
                                        {
                                            foreach (var ticket in allTickets)
                                            { //Pulling all the tickets to be categorized by the conditional statement below
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">My Tickets</h6>
                                    </div>

                                    <div class="card-body">

                                        @if (subTickets.Count() == 0)
                                        {
                                            <div class="b">You have not created any tickets yet.</div>
                                        }

                                        else
                                        {

                                            foreach (var ticket in subTickets)
                                            {
                                                <div class="b">@ticket.Title</div>
                                                <div class="c">Submitted by @ticket.OwnerUser.FirstName @ticket.OwnerUser.LastName on @ticket.Created</div>

                                                if (ticket.AssignedToUserId != null)
                                                {
                                                    <div class="c">Assigned to @ticket.AssignedToUser.FirstName  @ticket.AssignedToUser.LastName</div>
                                                }

                                                <button class="btn btn-default">@Html.ActionLink("Go to This Ticket", "Dashboard", "Tickets", routeValues: new { @id = ticket.Id }, htmlAttributes: new { })</button>
                                                <br />
                                                <br />
                                                <hr />
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                </div>

                <!--

                     <div class="col-md-12">
                        <!-- Bar Chart
                                    <div class="card shadow mb-4 chartHeight">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary text-center">Ticket Statuses</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-bar">
                                                <canvas id="myBarChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    -->

                <div class="row">
                    <div class="col-md-12">
                        <div id="RealMorrisBarChart" class="col-md-6 chart250"></div>
                    </div>
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/datatables.min.js"></script>

</body>

</html>

@section scripts{

    <script type="text/javascript">
    $(function () {
        var url = @Url.Action("GetMorrisData", "Charts");
        $.post(url).then(function (response) {
            new Morris.Bar({
                element: 'RealMorrisBarChart',
                data: response,
                xkey: label,
                ykeys: ['value'],
                labels: ['Ticket Count'],
                resize: true
            });
        });
    });
</script>
    }
}
